version: '3.7'

services:
    bgm_server:
        image: raccoonforever/bgm_server:latest
        container_name: bgm_server
        restart: always
        build: ./bgm_server
        command: bash -c "/wait && sh ./start.sh"
        expose: 
            - "8080"
        networks:
            - backend
        depends_on:
            - redis
        links:
            - redis
        environment:
            - WAIT_HOSTS=redis:6379
            - WAIT_HOSTS_TIMEOUT=300
            - WAIT_SLEEP_INTERVAL=30
            - WAIT_HOST_CONNECT_TIMEOUT=30

    redis:
        container_name: redis
        image: "redis:alpine"
        command: redis-server
        expose:
            - "6379"
        networks:
            - backend

    nginx:
        image: raccoonforever/bgm_nginx:latest
        container_name: nginx
        restart: always
        build: ./nginx
        ports:
            - "8686:80"
        depends_on:
            - bgm_server
        networks:
            - backend

networks:
    backend:
        driver: "bridge"
